TARGET_DATE=2026-04-01
PARTY_SIZE=2
EXPERIENCE_NAME=Gastronomy Menu
PREFERRED_TIMES=5:00 PM,5:30 PM,6:00 PM
AREA_KEYWORDS=Dining Room
CHECK_INTERVAL_MS=3000
RELEASE_AT=
AUTO_OPEN_BROWSER=true
HEADLESS=false
